<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <title>Facial Data Collection</title>
  </head>
  <body>
    <center>
      <br />
      <br />
      <br />
      <div
        id="carouselExampleControls"
        class="carousel slide"
        data-bs-ride="carousel"
        data-interval="5000"
        style="width: 500px"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="static/images/image (1).jpg" class="d-block" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="static/images/black.jpg" class="d-block" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="static/images/image (2).jpg" class="d-block" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="static/images/black.jpg" class="d-block" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="static/images/image (3).jpg" class="d-block" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="static/images/black.jpg" class="d-block" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="static/images/image (4).jpg" class="d-block" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="static/images/black.jpg" class="d-block" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="static/images/image (5).jpg" class="d-block" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="static/images/black.jpg" class="d-block" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="static/images/image (6).jpg" class="d-block" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="static/images/black.jpg" class="d-block" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="static/images/image (7).jpg" class="d-block" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="static/images/black.jpg" class="d-block" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="static/images/image (8).jpg" class="d-block" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="static/images/black.jpg" class="d-block" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="static/images/image (9).jpg" class="d-block" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="static/images/black.jpg" class="d-block" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="static/images/image (10).jpg" class="d-block" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="static/images/black.jpg" class="d-block" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="static/images/image (11).jpg" class="d-block" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="static/images/black.jpg" class="d-block" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="static/images/image (12).jpg" class="d-block" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="static/images/black.jpg" class="d-block" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="static/images/image (13).jpg" class="d-block" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="static/images/black.jpg" class="d-block" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="static/images/image (14).jpg" class="d-block" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="static/images/black.jpg" class="d-block" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="static/images/image (15).jpg" class="d-block" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="static/images/black.jpg" class="d-block" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="static/images/image (16).jpg" class="d-block" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="static/images/black.jpg" class="d-block" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="static/images/image (17).jpg" class="d-block" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="static/images/black.jpg" class="d-block" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="static/images/image (18).jpg" class="d-block" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="static/images/black.jpg" class="d-block" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="static/images/image (19).jpg" class="d-block" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="static/images/black.jpg" class="d-block" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="static/images/image (20).jpg" class="d-block" alt="..." />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <br />
      <div>
        <img src="{{ url_for('video_feed') }}" width="250px" />
      </div>
      <br />
      <div>
        <a class="btn btn-warning" href="{{ url_for('prediction') }}"
          >Prediction</a
        >
      </div>
    </center>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
